@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
 font-family: 'Poppins', sans-serif;
 margin: 0 auto;
 background-color:/*#c7ffd3*/#B5F6CF;  
}

/* Navbar */
.navbar {
    padding: 20px 36px 0px 36px;
    margin-bottom: 200px;
  }
 .navbar li a, .navbar .navbar-brand {
    color: #0f594e !important;
    font-size: 18px !important;
  }
 .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #0f594e !important;
    background-color: #c7ffd3 !important;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }

@media (max-width: 576px) { 
  .navbar {
    margin-bottom: 195px;
  }
}

/* home section */
.jumbotron { 
  background-image: url("/img/product-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0px !important;
  padding-bottom: 80px !important;
  height: 95vh;
} 

.hero_container h1 {
  color: #0f594e;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
}

.hero_container p {
  width: 60%;
  font-size: 20px !important;
}

@media (max-width: 576px) { 

  .jumbotron {
    background-image: url("/img/mobile-product-hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0px !important;
    padding-bottom: 50px;
    height: auto;
  }

  .hero_container {
    padding-left:30px ;
    padding-right:30px ;
  } 

  .hero_container h1 {
    width: 100% !important;
    font-size: 45px;
    margin-bottom: 16px;
  }
  .hero_container p {
    width: 100%;
  }
}

/* Services section  */
.services h2 {
    color: #111e54;
   }
  .services {
    margin: 50px 0px;
  } 

  .services_container {
    padding: 60px 36px 70px 36px;
  } 

  .services_container img {
    height: 300px;
  }  

  @media (max-width: 576px) {
    .services_container img {
      height: 290px;
    }  
  } 

  .under-scope {
    width: 130px; 
    border-top: 3px solid #8c8b8b; 
    margin: 10px auto 0px auto; 
  } 
  
  @media (max-width: 576px) { 
    .under-scope {
      width: 140px; 
      border-top: 3px solid #8c8b8b; 
      margin: 10px auto 0px auto; 
    }  
  }